@import url(images.css);
html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'work sans';
    line-height: 1.5;
    background-color: #35374B;
    
}
.container{

    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 700px) {
    .container{
        width: 90vw;
    }
    
}
@media (min-width: 500px) {
    .container{
        width: 480px;
    }
    
}

@media (min-width: 600px) {
    .container{
        width: 580px;
    }
    
}

@media (min-width: 770px) {
    .container{
        width: 750px;
    }
    
}

@media (min-width: 990px) {
    .container{
        width: 970px;
    }
    
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
    
}
/* start style */
body button{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    background-color: #78A083;
    border: none;
    border-radius: 10px;
}

body button a{
    color: black;
    font-weight: 700;
}


body .grid-container .author{
    background-color: #344955;
    padding: 10px;
    border: 1px solid ;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
body .grid-container .author div{
    max-width: 60%;
}
body .grid-container > h1{
    letter-spacing: 5px;
    margin-top: 0;
    text-align: center;
}
body .grid-container .post-body{
    border: 1px solid ;
    padding: 12px;
    border-radius: 10px;
    background-color: #50727B;
}
body .grid-container .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
body .grid-container .footer > .social{
    display: flex;
    gap: 40px;
}
body .grid-container .footer > .social div{
    font-weight: 500;
    text-transform: capitalize;
}
@media (max-width: 700px) {
    body .grid-container .author{
        flex-direction: column;
        align-items: center;
    }
    body .grid-container .author div{
        text-align: center;
    }
    body .grid-container .footer > .social{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
/* end style */